.mat-mdc-tab-group.mat-background-primary,
.mat-mdc-tab-nav-bar.mat-background-primary {
  --mat-mdc-tab-header-with-background-background-color: #111;
  --mat-mdc-tab-header-with-background-foreground-color: #fff;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}
