<footer>
	<div class="footer-container">
		<div class="nav-logo-container">
			<a class="logo" href="/">
				<img class="img-logo" src="assets/imgs/Logo.jpg" alt="Logo">
			</a>
			<ul class="nav-primario">
				<li>
					<span class="span-text">
						Gero Gero Shop 2023
					</span>
					<mat-icon>copyright</mat-icon>
				</li>
			</ul>
			<ul class="nav-primario nav-secundario footer-primario">
				<li>
					<a href="https://www.facebook.com/GeroGeroShop">
						<span class="span-text">Síguenos en facebook</span>
						<mat-icon>facebook</mat-icon>
					</a>
				</li>
				<li>
					<a href="mailto:gerogeroshop@gmail.com">
						<span class="span-text">Envíanos un E-mail</span>
						<mat-icon>mail</mat-icon>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>